.ContainerCreate {
    display: flex;
    justify-content: center;
}

.CreateAppointmentCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: aqua;
    /* Elimina el ancho fijo para que ocupe todo el ancho disponible */
    /* width: 30em; */
    /* height: 10em; */
}

/* Elimina el punto y coma al final de esta regla */
.appointmentCardsRow .apcard {
    flex: 0 0 calc(33% - 1em); /* 3 tarjetas por fila, con margen de 20px */
    margin: 10px; /* Margen entre las tarjetas */
}