.registerDesign {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerCard{
    width: 26em;
}
.fontError{
    font-size: 0.7em;
    color: red;
}