
.containerProfile {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.userContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .appointments {
    display: flex;
    justify-content: center;
    margin: 0.50em;
} */