
.homeDesign {

    height: 85vh;
    width: 100vw;

    background-color: #F7FFE5;

    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.carlosManda {

    display:flex;
    flex-wrap: wrap;
    margin-top: 1em;
}