.DetailService {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

    background-color:rgba(132, 172, 203, 0.299);
   
    width: 100%; 
    height: 100vh; 

}
.DetailService1{
   
   border-radius: 2em; background-color:rgba(121, 161, 192, 0.384);
}