
.normalInput {

    border-radius: 0.5em;
    border: 0.15em solid rgb(29, 115, 169);
    width: 15em;
    height: 2em;

    margin-top: 0.5em;
}

.errorInput {

    color: rgba(169, 40, 40, 0.9);
    border: 0.2em solid rgba(182, 16, 16, 0.542);
    
}