
.headerDesign {
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
    background-color: #598295b4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.linksDesign {
    padding: 0.5em;
}

.linksDesignToken {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.headerLink {
    font-weight:bold; 
    font-size: large;
    margin: 0.2em;
    color: rgb(37, 32, 86);
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 0.2em;
    margin-right: 1em;
}

.headerLink:hover {
    transition: 0.5s;
    color: rgb(0, 0, 0);
}