.productCardDesign {

    height: 11em;
    width: 7em;

    background-color: #C4D7B2;

    border-radius: 1em;
    margin: 1em;

    cursor: pointer;
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCardDesign:hover {

    background-color: #E1ECC8;
    transition: 0.3s;

}

.pictureDesign {
    height: 6em;
    width: 5em;
}