#root {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgba(129, 162, 187, 0.183);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* DATA STYLE */
.containerData {
  position: fixed;
  top: 2.5em;
  padding: 0;
  z-index: 1;
}

.containerDataScroll {
  padding: 0.5em;
  overflow-y: auto;
  max-height: calc(100vh - 2.5em);
}

.dataTitle {
  font-size: 2.7em;
  font-weight: bold;
  color: rgb(235, 142, 224);
  text-shadow: 0.04em 0.05em 0.06em rgb(118, 0, 129);
}

.tableContainerData {
  border: 0.1em solid #aca7a7;
  border-radius: 0.2em;
}

.tableDataData {
  text-align: center;
  padding: 0.5em 0.2em 0.5em 0.3em;
  font-size: 0.93em;
  flex: 1;
  overflow: hidden;
  text-align: center;
  border-right: 0.06em solid #aca7a7;
  background-color: rgba(246, 215, 250, 0.2);
  text-overflow: ellipsis;
}

.tableDataHeader {
  padding: 0.5em 0.2em 0.5em 0.1em;
  background-color: rgba(32, 71, 171, 0.44);
  flex: 1;
  font-size: 0.89em;
  color: white;
  text-align: center;
  border-right: 0.06em solid #aca7a7;
  font-weight: bold;
  text-shadow: 0.04em 0.05em 0.06em rgb(0, 0, 0);
}

.tableDataRow {
  display: flex;
  border-bottom: 0.06em solid #aca7a7;
}

.buttonDataDetail {
  background-color: rgba(209, 89, 179, 0.947);
  color: rgb(0, 0, 0);
  width: 4em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.buttonDataDetail:hover {
  background-color: rgb(3, 3, 140);
  color: white;
}

.dataDetailHeaderUsers {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border-bottom: 0.06em solid #aca7a7;
}

/* INPUT SEARCH */
.inputSearch {
  border: 0.2em solid black;
  border-radius: 0.6em;
  height: 2.4em;
  width: 16em;
  box-shadow: inset -0.2em -0.01em 0.4em 0.3em rgba(40, 39, 39, 0.26);
}

/* DATA DETAIL APPOINTMENT */
.dataDetailContainer {
  display: flex;
  flex-direction: column;
  border: 0.1em solid rgba(158, 27, 219, 0.725);
  box-shadow: rgba(0, 0, 0, 0.2) 0em 3.5em 3em -0.5em;
  border-radius: 2em;
  background-color: rgba(64, 139, 209, 0.233);
  padding: 0.4em;
  text-align: center;
}

.dataStyleTitle {
  font-size: 2em;
  color: white;
  width: 8em;
  padding: 0.2em;
  background-color: rgba(158, 27, 219, 0.725);
  border-radius: 2em;
  border: 0.03em solid rgb(64, 139, 209);
  text-shadow: 0.05em 0.05em 0.06em rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.15) 0em -3em 2.2em 0 inset,
    rgba(0, 0, 0, 0.1) 0em -4.95em 2.5em 0em inset,
    inset rgba(0, 0, 0, 0.06) 0em 0.2em 0.1em,
    rgba(0, 0, 0, 0.09) 0em 0.4em 0.2em inset,
    rgba(0, 0, 0, 0.09) 0em 1.6em 0.8em inset,
    inset rgba(0, 0, 0, 0.09) 0em 3.2em 1.6em;
}

.dataDetailHeader {
  text-align: center;
  font-size: 1em;
  min-width: 6em;
  height: 2em;
  background-color: rgba(47, 75, 189, 0.87);
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0em 1.5em 3em -0.75em inset, rgba(0, 0, 0, 0.3) 0em 0.9em 1.8em -0.9em inset;
  border-radius: 0.5em;
  margin-right: 0.3em;
}

.dataDataDetail {
  display: flex;
  border: 0.1em solid rgba(103, 9, 147, 0.947);
  margin-top: 1em;
  padding: 0.1em;
  border-radius: 0.5em;
  box-shadow: rgba(193, 26, 222, 0.516) 0em 0.9em 1.8em -0.9em inset;
}