
.DetailAppointment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.3em solid rgb(119, 173, 223);
    /* height: 16em;*/
    box-shadow: rgba(0, 0, 0, 0.2) 0em 3.5em 3em -0.5em;
    width: 18em; 
    border-radius: 2em;
    background-color: rgba(64, 139, 209, 0.406);
    font-size: medium;
    padding: 0.4em;
    
}
.tableDataAppointment{
    /* display: flex; */
    /* flex-direction: column; */
}
.tableHeader{
    font-size: 1.3em;
    width: 6em;
    height: 1.4em;
    background-color: rgba(47, 75, 189, 0.87);
    color: white;
    border-radius: 2em;
}