
 .adminContainer {
    width: 100vw;
    height: 100vh; 
flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; 


} 
.adminCardTitle{
    margin: 0.1em;
    display: flex;
    justify-content: center;
    border-radius: 5em;
    cursor: pointer;

}
.usersCards{
    margin-top: 10em;
    justify-content: center;
    background-color: rgba(21, 64, 163, 0.436); 
}


.adminCardTitle:hover{
    /* font-size:0.98em; */
    /* background-color: rgba(45, 79, 134, 0.722);
    transform: scale(1.1); */
    /* transition: transform 0.3s ease; */
}